@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:300,400,700&display=swap');
* {
  margin: 0;
}
body {
  background-color: #cae8d5;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
img {
  border-radius: 50%;
}
h1, h2 {
  font-family: 'Open Sans', sans-serif;
  color: #204051;
  margin: 5px;
}
@keyframes jump {
  from {color: #43d8c9;}
  to {color: #204051;}
}
h1 {
  font-size: 25px;
  font-weight: 400;
  animation-name: jump;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
h2 {
  font-size: 18px;
}
p {
  color: #3b6978;
  margin: 10px;
  margin-bottom: 40px;
}
a {
  text-decoration: none;
}
.link-bold {
font-weight: bold;
}
ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  display: inline-block;
  font-size: 40px;
  margin: 5px;
}
#profile-pic {
  width: 150px;
}
.card-white {
  background-color: white;
}
.container {
  width: 600px;
  margin: 30px auto;
}
.card {
  margin-bottom: 30px;
  padding: 50px;
  border-radius: 10px;
}
.btn-light-blue {
  background-color: #43d8c9;
  color: #FFFFFF;
  padding: 15px 35px;
  border-radius: 50px;
}
.btn-light-blue:hover {
  color: #3b6978;
}
.text-center {
  text-align: center;
}
.box-shadow {
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
}
.social-icons {
  color: #43d8c9;
}
.social-icons:hover {
  color: #3b6978;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 400px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 300px;
  }
  .btn-light-blue {
    background-color: #43d8c9;
    color: #FFFFFF;
    padding: 15px 20px;
    border-radius: 50px;
  }
}
